@model Layoutmvc.Models.EMPDATA
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm())
{
    if (ViewBag.msg != null)
    {
        @ViewBag.msg;
    }

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
