
@{a.MGR);


#line default
#line hidden

#line 11 "C:\Users\Admin\source\repos\Layoutmvc\Layoutmvc\Views\Binding\Index.cshtml"
    __o = Html.TextBoxFor(a => a.HIREDATE);


#line default
#line hidden

#line 12 "C:\Users\Admin\source\repos\Layoutmvc\Layoutmvc\Views\Binding\Index.cshtml"
    __o = Html.TextBoxFor(a => a.SAL);


#line default
#line hidden

#line 13 "C:\Users\Admin\source\repos\Layoutmvc\Layoutmvc\Views\Binding\Index.cshtml"
    __o = Html.TextBoxFor(a => a.COMM);


#line default
#line hidden

#line 14 "C:\Users\Admin\source\repos\Layoutmvc\Layoutmvc\Views\Binding\Index.cshtml"
    __o = Html.TextBoxFor(a => a.DEPTNO);
}

<h2>Index Example</h2>

